/* Styles for RLBody.jsx */
.LMrl-body-container {
  padding: 50px;
  max-width: 1300px;
  margin: 0 auto;
}

.LMrl-title {
    font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  margin-bottom: 25px;
  border-bottom: 2px solid #1a4d4d;
  padding-bottom: 10px;
  background-color: #0D9488;
  border-radius: 10px;
  box-shadow: 0px 1px 2px #0D9488;
  padding-top: 10px;
}

.LMrl-table-wrapper {
  overflow-x: auto;
  margin-bottom: 20px;
  border-radius: 0px 0px 20px 20px;
}

.LMrl-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.LMrl-table-header {
  background-color: #0D9488;
  color: #fff;
  padding: 10px 15px;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
}

.LMrl-table-row:hover {
  background-color: #f9fafb;
  transition: background-color 0.2s ease;
}

.LMrl-table-cell {
  padding: 10px 15px;
  border-bottom: 1px solid #e5e7eb;
  color: #374151;
}
.LMrl-table-cell:hover{
  background-color: #ddd;
}
.LMrl-table-cell1 {
  padding: 10px 15px;
  border-bottom: 1px solid #e5e7eb;
  color: #374151;
}

.LMrl-action-button {
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  margin-right: 5px;
  transition: background-color 0.3s ease;
}

.LMrl-action-button:disabled {
  background-color: #d1d5db;
  cursor: not-allowed;
}

.LMrl-approve-button {
  background-color: #0D9488;
}

.LMrl-approve-button:hover:not(:disabled) {
  background-color: #1a4d4d;
}

.LMrl-reject-button {
  background-color: #ef4444;
}

.LMrl-reject-button:hover:not(:disabled) {
  background-color: #dc2626;
}

