

.contact-section-h1 {
  font-size: 34px;
  margin-bottom: 10px;
  font-weight:bold;
}

.contact-section-p  {
  font-size: 16px;
  margin-bottom: 20px;
  color: #333;
  font-weight: 500px;
  font-style:italic;
}
.your-NameandEmail{
    display: flex;
    /* margin: 0px 250px 0px 250px; */
     /* display: block; */
  margin: 10px auto;
  /* padding: 10px; */
  width: 420px;
  
  border-radius: 5px;
  font-size: 16px;
  border-color:#b6b4b4;
   /* background-color: #f9fafb; */
   width: 29%;
   gap: 30px;
  
}
.your-email {
    /* margin-left: 30px; */
    padding: 5px 10px 5px 10px;
    border-radius:5px;
}
.your-message{
width: 30%;
    height: 15vh;
    margin-top:10px;
    border-radius:5px;
    margin-left:10px;
}
.your-name{
    border-radius:5px;
     padding: 5px 10px 5px 10px;
}
.button {
  padding: 10px 20px;
  background-color: #10b981;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top:5px;
}
button:hover {
  background-color: #23bab022;
}